---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Astro Tutorial 2025">
	<ul>
		<li>
			Local Url: <a href="http://localhost:4321/astro-tutorial-2025/"
				>http://localhost:4321/astro-tutorial-2025/</a
			>
		</li>
		<li>
			Github Pages: <a
				href="https://brentellingson.github.io/astro-tutorial-2025/"
				>https://brentellingson.github.io/astro-tutorial-2025/</a
			>
		</li>
		<li>
			Github Source: <a
				href="https://github.com/brentellingson/astro-tutorial-2025"
				>https://github.com/brentellingson/astro-tutorial-2025</a
			>
		</li>
		<li>
			Tutorial: <a href="https://docs.astro.build/en/tutorial/"
				>https://docs.astro.build/en/tutorial/</a
			>
		</li>
	</ul>
</BaseLayout>
