---

import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="./">Home</a>
		<a href="./about/">About</a>
		<h1>Astro Tutorial 2025</h1>
		<ul>
			<li>Local Url: <a href="http://localhost:4321/astro-tutorial-2025/">http://localhost:4321/astro-tutorial-2025/</a></li>
			<li>Github Pages: <a href="https://brentellingson.github.io/astro-tutorial-2025/">https://brentellingson.github.io/astro-tutorial-2025/</a></li>
			<li>Github Source: <a href="https://github.com/brentellingson/astro-tutorial-2025">https://github.com/brentellingson/astro-tutorial-2025</a></li>
			<li>Tutorial: <a href="https://docs.astro.build/en/tutorial/">https://docs.astro.build/en/tutorial/</a></li>
		</ul>
	</body>
</html>
